@model IEnumerable<RestauranteApplication.Models.ProductoMulti>

@if (Request.IsAuthenticated)
{
    <h2>Productos</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productos.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productos.cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productos.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productos.ingreso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productos.vencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.proveedorFK.nombre)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.productos.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productos.cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productos.precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productos.ingreso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.productos.vencimiento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.proveedorFK.nombre)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.productos.id_producto}) |
                    @Html.ActionLink("Details", "Details", new {id = item.productos.id_producto}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.productos.id_producto})
                </td>
            </tr>
        }

    </table>
}
else
{
    Response.Redirect("~/");
}